<mat-drawer-container class="drawer" autosize>
  <!-- Config -->
  <mat-drawer #drawer mode="side" opened>
    <div class="controls-container">
      <form [formGroup]="configForm">
        <h2>Config</h2>
        <mat-form-field appearance="fill">
          <mat-label>Tiempo cierre</mat-label>
          <input type="number" matInput formControlName="tiempoCierre" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cota inferior llegada</mat-label>
          <input type="number" matInput formControlName="cotaInfLlegada" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cota superior llegada</mat-label>
          <input type="number" matInput formControlName="cotaSupLlegada" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Probabilidad A</mat-label>
          <input type="number" matInput formControlName="probA" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Probabilidad B</mat-label>
          <input type="number" matInput formControlName="probB" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Probabilidad C</mat-label>
          <input type="number" matInput formControlName="probC" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Probabilidad D</mat-label>
          <input type="number" matInput formControlName="probD" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Probabilidad E</mat-label>
          <input type="number" matInput formControlName="probE" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tiempo de trabajo A</mat-label>
          <input type="number" matInput formControlName="tiempoTrabajoA" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tiempo de trabajo B</mat-label>
          <input type="number" matInput formControlName="tiempoTrabajoB" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tiempo de trabajo C</mat-label>
          <input type="number" matInput formControlName="tiempoTrabajoC" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tiempo de trabajo D</mat-label>
          <input type="number" matInput formControlName="tiempoTrabajoD" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tiempo de trabajo E</mat-label>
          <input type="number" matInput formControlName="tiempoTrabajoE" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cota inferior variacion trabajo</mat-label>
          <input
            type="number"
            matInput
            formControlName="cotaInfVariacionTrabajo"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cota superior variacion trabajo</mat-label>
          <input
            type="number"
            matInput
            formControlName="cotaSupVariacionTrabajo"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tiempo trabajo inicial C</mat-label>
          <input
            type="number"
            matInput
            formControlName="tiempoTrabajoInicialC"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tiempo trabajo final C</mat-label>
          <input type="number" matInput formControlName="tiempoTrabajoFinalC" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tamano maximo de cola</mat-label>
          <input type="number" matInput formControlName="tamanoCola" />
        </mat-form-field>
      </form>
      <button
        type="button"
        color="primary"
        mat-raised-button
        (click)="generate()"
        [disabled]="configForm.invalid"
      >
        Generate
      </button>
      <button
        type="button"
        color="primary"
        mat-raised-button
        [disabled]="isLoading$ | async"
        (click)="populate()"
      >
        Populate
      </button>
    </div>

    <div *ngIf="stats">
      <p>Promedio de permanencia: {{stats.promedioPermanenciaEquipos}}</p>

    </div>
  </mat-drawer>
  <!-- Table -->
  <mat-drawer-content class="drawer-content">
    <div class="table-wrapper">
      <ng-container *ngIf="rows$ | async as rows">
        <table mat-table [dataSource]="rows" class="example-table">
          <!-- META HEADER -->
          <ng-container matColumnDef="nMeta" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0"></th>
          </ng-container>

          <ng-container matColumnDef="relojMeta" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0"></th>
          </ng-container>

          <ng-container matColumnDef="eventoMeta" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0"></th>
          </ng-container>

          <ng-container matColumnDef="rndProxLlegadaMeta">
            <th mat-header-cell *matHeaderCellDef class="color1">LLEGADA</th>
          </ng-container>

          <ng-container matColumnDef="tiempoEntreLlegadasMeta">
            <th mat-header-cell *matHeaderCellDef class="color1"></th>
          </ng-container>

          <ng-container matColumnDef="proxLlegadaMeta">
            <th mat-header-cell *matHeaderCellDef class="color1"></th>
          </ng-container>

          <ng-container matColumnDef="rndTipoTrabajoMeta">
            <th mat-header-cell *matHeaderCellDef class="color2">
              TIPO TRABAJO
            </th>
          </ng-container>

          <ng-container matColumnDef="tipoTrabajoMeta">
            <th mat-header-cell *matHeaderCellDef class="color2"></th>
          </ng-container>

          <ng-container matColumnDef="rndVariacionMeta">
            <th mat-header-cell *matHeaderCellDef class="color2"></th>
          </ng-container>

          <ng-container matColumnDef="variacionTiempoTrabajoMeta">
            <th mat-header-cell *matHeaderCellDef class="color2"></th>
          </ng-container>

          <ng-container matColumnDef="colaMeta">
            <th mat-header-cell *matHeaderCellDef class="color0"></th>
          </ng-container>

          <ng-container matColumnDef="estadoT1Meta">
            <th mat-header-cell *matHeaderCellDef class="color3">TECNICO 1</th>
          </ng-container>

          <ng-container matColumnDef="inicioTrabajoT1Meta">
            <th mat-header-cell *matHeaderCellDef class="color3"></th>
          </ng-container>

          <ng-container matColumnDef="tiempoTrabajoT1Meta">
            <th mat-header-cell *matHeaderCellDef class="color3"></th>
          </ng-container>

          <ng-container matColumnDef="finTrabajoT1Meta">
            <th mat-header-cell *matHeaderCellDef class="color3"></th>
          </ng-container>

          <ng-container matColumnDef="estadoT2Meta">
            <th mat-header-cell *matHeaderCellDef class="color4">TECNICO 2</th>
          </ng-container>

          <ng-container matColumnDef="inicioTrabajoT2Meta">
            <th mat-header-cell *matHeaderCellDef class="color4"></th>
          </ng-container>

          <ng-container matColumnDef="tiempoTrabajoT2Meta">
            <th mat-header-cell *matHeaderCellDef class="color4"></th>
          </ng-container>

          <ng-container matColumnDef="finTrabajoT2Meta">
            <th mat-header-cell *matHeaderCellDef class="color4"></th>
          </ng-container>

          <ng-container matColumnDef="promedioPermanenciaEquiposMeta">
            <th mat-header-cell *matHeaderCellDef class="color0">ESTADISTICAS</th>
          </ng-container>

          <!-- HEADER - CONTENT -->
          <ng-container matColumnDef="n" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0">N</th>
            <td mat-cell *matCellDef="let row">{{ row.n }}</td>
          </ng-container>

          <ng-container matColumnDef="reloj" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0">Reloj</th>
            <td mat-cell *matCellDef="let row">{{ row.reloj?.toFixed(4) }}</td>
          </ng-container>

          <ng-container matColumnDef="evento" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0">Evento</th>
            <td mat-cell *matCellDef="let row">{{ row.evento }}</td>
          </ng-container>

          <ng-container matColumnDef="rndProxLlegada">
            <th mat-header-cell *matHeaderCellDef class="color1">
              Rnd prox llegada
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.rndProxLlegada?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tiempoEntreLlegadas">
            <th mat-header-cell *matHeaderCellDef class="color1">
              Tiempo entre llegadas
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.tiempoEntreLlegadas?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="proxLlegada">
            <th mat-header-cell *matHeaderCellDef class="color1">
              Proxima llegada
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.proxLlegada?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="rndTipoTrabajo">
            <th mat-header-cell *matHeaderCellDef class="color2">
              Rnd tipo trabajo
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.rndTipoTrabajo?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tipoTrabajo">
            <th mat-header-cell *matHeaderCellDef class="color2">
              tipo trabajo
            </th>
            <td mat-cell *matCellDef="let row">{{ row.tipoTrabajo }}</td>
          </ng-container>

          <ng-container matColumnDef="rndVariacion">
            <th mat-header-cell *matHeaderCellDef class="color2">
              Rnd variacion tiempo trabajo
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.rndVariacion?.toFixed(4)  }}
            </td>
          </ng-container>

          <ng-container matColumnDef="variacionTiempoTrabajo">
            <th mat-header-cell *matHeaderCellDef class="color2">
              Variacion tiempo trabajo
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.variacionTiempoTrabajo?.toFixed(4) ?? '' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cola">
            <th mat-header-cell *matHeaderCellDef class="color0">Cola</th>
            <td mat-cell *matCellDef="let row">
              {{ row.colaLlegada?.length }}
            </td>
          </ng-container>

          <ng-container matColumnDef="estadoT1">
            <th mat-header-cell *matHeaderCellDef class="color3">Estado</th>
            <td mat-cell *matCellDef="let row">{{ row.tecnico1?.estado }}</td>
          </ng-container>

          <ng-container matColumnDef="inicioTrabajoT1">
            <th mat-header-cell *matHeaderCellDef class="color3">
              Inicio trabajo
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.tecnico1?.inicioTrabajo?.toFixed(4) ?? '' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tiempoTrabajoT1">
            <th mat-header-cell *matHeaderCellDef class="color3">
              Tiempo trabajo
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.tecnico1?.tiempoTrabajo?.toFixed(4) ?? '' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="finTrabajoT1">
            <th mat-header-cell *matHeaderCellDef class="color3">
              Fin trabajo
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.tecnico1?.finTrabajo?.toFixed(4) ?? '' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="estadoT2">
            <th mat-header-cell *matHeaderCellDef class="color4">Estado</th>
            <td mat-cell *matCellDef="let row">{{ row.tecnico2?.estado }}</td>
          </ng-container>

          <ng-container matColumnDef="inicioTrabajoT2">
            <th mat-header-cell *matHeaderCellDef class="color4">
              Inicio trabajo
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.tecnico2?.inicioTrabajo?.toFixed(4) ?? '' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tiempoTrabajoT2">
            <th mat-header-cell *matHeaderCellDef class="color4">
              Tiempo trabajo
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.tecnico2?.tiempoTrabajo?.toFixed(4) ?? '' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="finTrabajoT2">
            <th mat-header-cell *matHeaderCellDef class="color4">
              Fin trabajo
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.tecnico2?.finTrabajo?.toFixed(4) ?? '' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="promedioPermanenciaEquipos">
            <th mat-header-cell *matHeaderCellDef class="color0">
              Promedio permanencia de equipos
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.promedioPermanenciaEquipos?.toFixed(4) ?? '' }}
            </td>
          </ng-container>

          <ng-container *ngFor="let header of jobHeaders$ | async">
            <ng-container matColumnDef="{{ header }}">
              <th mat-header-cell *matHeaderCellDef class="color5">
                {{ getHeader(header) }}
              </th>
              <td mat-cell *matCellDef="let row">
                {{ getRowValue(header, row) }}
              </td>
            </ng-container>
          </ng-container>

          <ng-container
            *ngFor="let header of jobMetaHeaders$ | async; let i = index"
          >
            <ng-container matColumnDef="{{ header }}">
              <th mat-header-cell *matHeaderCellDef class="color5">
                {{ getMetaHeader(header) }}
              </th>
            </ng-container>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="metaDisplayedColumns$ | async; sticky: true"
          ></tr>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns$ | async; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns$ | async"
          ></tr>
        </table>
        <!-- <mat-paginator
          *ngIf="paginator$ | async as paginator"
          (page)="handlePageEvent($event)"
          [length]="totalCount"
          [pageSize]="paginator.limit"
          [pageSizeOptions]="[50, 100, 200]"
        ></mat-paginator> -->
        
      </ng-container>
      <!-- <div class="search-config-wrapper">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter page number" [(ngModel)]="pageNumber">
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="goToPage()">Go to Page</button>
      </div> -->
    </div>
    </mat-drawer-content>
</mat-drawer-container>

<button
  class="toggle-sidebar-button"
  color="accent"
  type="button"
  mat-raised-button
  (click)="drawer.toggle()"
>
  Toggle sidenav
</button>
