<mat-drawer-container class="drawer" autosize>
  <!-- Config -->
  <mat-drawer #drawer mode="side" opened>
    <div class="controls-container">
      <form [formGroup]="configForm">
        <h2>Config</h2>
        <mat-form-field appearance="fill">
          <mat-label>Tiempo Fin Simulacion</mat-label>
          <input type="number" matInput formControlName="tiempoFinSimulacion" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Prob Pasaje Gratuito</mat-label>
          <input type="number" matInput formControlName="probPasajeGratuito" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Segundos Por Llegada</mat-label>
          <input type="number" matInput formControlName="segundosPorLlegada" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cola Paga Inicial</mat-label>
          <input type="number" matInput formControlName="colaPagaInicial" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cola Gratuita Inicial</mat-label>
          <input type="number" matInput formControlName="colaGratuitaInicial" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Limite Cola Auxiliar</mat-label>
          <input type="number" matInput formControlName="largoColaAuxiliar" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Fin Trabajo Empleada Gratuita Inicial</mat-label>
          <input type="number" matInput formControlName="finTrabajoEmpleadaGratuitaInicial" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Fin Trabajo Empleada Paga Inicial</mat-label>
          <input type="number" matInput formControlName="finTrabajoEmpleadaPagaInicial" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Proxima Llegada Inicial</mat-label>
          <input type="number" matInput formControlName="proximaLlegadaInicial" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Duracion Auxiliar Gratuita</mat-label>
          <input type="number" matInput formControlName="duracionAuxiliarGratuita" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Reduccion Tiempo Auxiliar</mat-label>
          <input type="number" matInput formControlName="reduccionTiempoAuxiliar" />
        </mat-form-field>
      </form>
      <button
        type="button"
        color="primary"
        mat-raised-button
        (click)="generate()"
        [disabled]="configForm.invalid"
      >
        Generate
      </button>
      <button
        type="button"
        color="primary"
        mat-raised-button
        [disabled]="isLoading$ | async"
        (click)="populate()"
      >
        Populate
      </button>
    </div>
  </mat-drawer>
  <!-- Table -->
  <mat-drawer-content class="drawer-content">
    <div class="table-wrapper">
      <ng-container *ngIf="rows$ | async as rows">
        <table mat-table [dataSource]="rows" class="example-table">
          <!-- META HEADER -->

          <ng-container matColumnDef="nMeta" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0"></th>
          </ng-container>

          <ng-container matColumnDef="relojMeta" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0"></th>
          </ng-container>

          <ng-container matColumnDef="eventoMeta" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0"></th>
          </ng-container>

          <ng-container matColumnDef="rndProxLlegadaMeta">
            <th mat-header-cell *matHeaderCellDef class="color1">LLEGADA</th>
          </ng-container>

          <ng-container matColumnDef="tiempoEntreLlegadasMeta">
            <th mat-header-cell *matHeaderCellDef class="color1"></th>
          </ng-container>

          <ng-container matColumnDef="proxLlegadaMeta">
            <th mat-header-cell *matHeaderCellDef class="color1"></th>
          </ng-container>

          <ng-container matColumnDef="rndTipoCola1Meta">
            <th mat-header-cell *matHeaderCellDef class="color2">
              TIPO COLA 1
            </th>
          </ng-container>

          <ng-container matColumnDef="tipoCola1Meta">
            <th mat-header-cell *matHeaderCellDef class="color2"></th>
          </ng-container>

          <ng-container matColumnDef="rndTipoCola2Meta">
            <th mat-header-cell *matHeaderCellDef class="color2">
              TIPO COLA 2
            </th>
          </ng-container>

          <ng-container matColumnDef="tipoCola2Meta">
            <th mat-header-cell *matHeaderCellDef class="color2"></th>
          </ng-container>

          <ng-container matColumnDef="rndTipoCola3Meta">
            <th mat-header-cell *matHeaderCellDef class="color2">
              TIPO COLA 3
            </th>
          </ng-container>

          <ng-container matColumnDef="tipoCola3Meta">
            <th mat-header-cell *matHeaderCellDef class="color2"></th>
          </ng-container>

          <ng-container matColumnDef="colaGratuitaMeta">
            <th mat-header-cell *matHeaderCellDef class="color0"></th>
          </ng-container>

          <ng-container matColumnDef="estadoEGMeta">
            <th mat-header-cell *matHeaderCellDef class="color3">EMPLEADA GRATUITA</th>
          </ng-container>

          <ng-container matColumnDef="inicioAtencionEGMeta">
            <th mat-header-cell *matHeaderCellDef class="color3"></th>
          </ng-container>

          <ng-container matColumnDef="tiempoTrabajoEGMeta">
            <th mat-header-cell *matHeaderCellDef class="color3"></th>
          </ng-container>

          <ng-container matColumnDef="finTrabajoEGMeta">
            <th mat-header-cell *matHeaderCellDef class="color3"></th>
          </ng-container>

          <ng-container matColumnDef="colaPagaMeta">
            <th mat-header-cell *matHeaderCellDef class="color0"></th>
          </ng-container>

          <ng-container matColumnDef="estadoEPMeta">
            <th mat-header-cell *matHeaderCellDef class="color3">EMPLEADA PAGA</th>
          </ng-container>

          <ng-container matColumnDef="inicioAtencionEPMeta">
            <th mat-header-cell *matHeaderCellDef class="color3"></th>
          </ng-container>

          <ng-container matColumnDef="tiempoTrabajoEPMeta">
            <th mat-header-cell *matHeaderCellDef class="color3"></th>
          </ng-container>

          <ng-container matColumnDef="finTrabajoEPMeta">
            <th mat-header-cell *matHeaderCellDef class="color3"></th>
          </ng-container>

          <ng-container matColumnDef="contadorTiempoOciosoPagaMeta">
            <th mat-header-cell *matHeaderCellDef class="color6">
              ESTADISTICAS
            </th>
          </ng-container>

          <!-- HEADER - CONTENT -->
          <ng-container matColumnDef="n" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0">N</th>
            <td mat-cell *matCellDef="let row">{{ row.n }}</td>
          </ng-container>

          <ng-container matColumnDef="reloj" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0">Reloj</th>
            <td mat-cell *matCellDef="let row">{{ row.reloj?.toFixed(4) }}</td>
          </ng-container>

          <ng-container matColumnDef="trabajoActual" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0">
              Trabajo actual
            </th>
            <td mat-cell *matCellDef="let row">{{ row.trabajoActual }}</td>
          </ng-container>

          <ng-container matColumnDef="evento" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef class="color0">Evento</th>
            <td mat-cell *matCellDef="let row">{{ row.evento }}</td>
          </ng-container>

          <ng-container matColumnDef="rndProxLlegada">
            <th mat-header-cell *matHeaderCellDef class="color1">
              Rnd prox llegada
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.rndProxLlegada?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tiempoEntreLlegadas">
            <th mat-header-cell *matHeaderCellDef class="color1">
              Tiempo entre llegadas
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.tiempoEntreLlegadas?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="proxLlegada">
            <th mat-header-cell *matHeaderCellDef class="color1">
              Proxima llegada
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.proxLlegada?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="rndTipoCola1">
            <th mat-header-cell *matHeaderCellDef class="color2">
              Rnd tipo cola 1
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.rndTipoCola1?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tipoCola1">
            <th mat-header-cell *matHeaderCellDef class="color2">
              tipo trabajo 1
            </th>
            <td mat-cell *matCellDef="let row">{{ row.tipoCola1 }}</td>
          </ng-container>

          <ng-container matColumnDef="rndTipoCola2">
            <th mat-header-cell *matHeaderCellDef class="color2">
              Rnd tipo cola 2
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.rndTipoCola2?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tipoCola2">
            <th mat-header-cell *matHeaderCellDef class="color2">
              tipo trabajo 2
            </th>
            <td mat-cell *matCellDef="let row">{{ row.tipoCola2 }}</td>
          </ng-container>

          <ng-container matColumnDef="rndTipoCola3">
            <th mat-header-cell *matHeaderCellDef class="color2">
              Rnd tipo cola 3
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.rndTipoCola3?.toFixed(4) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tipoCola3">
            <th mat-header-cell *matHeaderCellDef class="color2">
              tipo trabajo 3
            </th>
            <td mat-cell *matCellDef="let row">{{ row.tipoCola3 }}</td>
          </ng-container>

          <ng-container matColumnDef="colaGratuita">
            <th mat-header-cell *matHeaderCellDef class="color0">Cola Gratuita</th>
            <td mat-cell *matCellDef="let row">
              {{ row.colaGratuita?.length }}
            </td>
          </ng-container>

          <ng-container matColumnDef="estadoEG">
            <th mat-header-cell *matHeaderCellDef class="color3">Estado</th>
            <td mat-cell *matCellDef="let row">{{ row.empleadaGratuita?.estado }}</td>
          </ng-container>

          <ng-container matColumnDef="inicioAtencionEG">
            <th mat-header-cell *matHeaderCellDef class="color3">
              Inicio Atencion
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.empleadaGratuita?.inicioAtencion?.toFixed(4) ?? "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tiempoAtencionEG">
            <th mat-header-cell *matHeaderCellDef class="color3">
              Tiempo Atencion
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.empleadaGratuita?.tiempoAtencion?.toFixed(4) ?? "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="finAtencionEG">
            <th mat-header-cell *matHeaderCellDef class="color3">
              Fin Atencion
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.empleadaGratuita?.finAtencion?.toFixed(4) ?? "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="colaPaga">
            <th mat-header-cell *matHeaderCellDef class="color0">Cola Paga</th>
            <td mat-cell *matCellDef="let row">
              {{ row.colaPaga?.length }}
            </td>
          </ng-container>

          <ng-container matColumnDef="estadoEP">
            <th mat-header-cell *matHeaderCellDef class="color3">Estado</th>
            <td mat-cell *matCellDef="let row">{{ row.empleadaPaga?.estado }}</td>
          </ng-container>

          <ng-container matColumnDef="inicioAtencionEP">
            <th mat-header-cell *matHeaderCellDef class="color3">
              Inicio Atencion
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.empleadaPaga?.inicioAtencion?.toFixed(4) ?? "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tiempoAtencionEP">
            <th mat-header-cell *matHeaderCellDef class="color3">
              Tiempo Atencion
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.empleadaPaga?.tiempoAtencion?.toFixed(4) ?? "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="finAtencionEP">
            <th mat-header-cell *matHeaderCellDef class="color3">
              Fin Atencion
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.empleadaPaga?.finAtencion?.toFixed(4) ?? "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="contadorTiempoOciosoPaga">
            <th mat-header-cell *matHeaderCellDef class="color6">
              Tiempo Ocioso Empleada Paga
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.empleadaPaga.tiempoOcioso?.toFixed(4) ?? "" }}
            </td>
          </ng-container>

          <ng-container *ngFor="let header of jobHeaders$ | async; let i = index">
            <ng-container matColumnDef="{{ header }}">
              <th mat-header-cell *matHeaderCellDef class="color5" [ngClass]="i % 7 === 0 ? 'border-left-strong' : ''">
                {{ getHeader(header) }}
              </th>
              <td mat-cell *matCellDef="let row" [ngClass]="i % 7 === 0 ? 'border-left-strong' : ''">
                {{ getRowValue(header, row) }}
              </td>
            </ng-container>
          </ng-container>

          <ng-container
            *ngFor="let header of jobMetaHeaders$ | async; let i = index"
          >
            <ng-container matColumnDef="{{ header }}">
              <th mat-header-cell *matHeaderCellDef class="color5" [ngClass]="i % 7 === 0 ? 'border-left-strong' : ''">
                {{ getMetaHeader(header) }}
              </th>
            </ng-container>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="metaDisplayedColumns$ | async; sticky: true"
          ></tr>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns$ | async; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns$ | async"
          ></tr>
        </table>
      </ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<button
  class="toggle-sidebar-button"
  color="accent"
  type="button"
  mat-raised-button
  (click)="drawer.toggle()"
>
  Toggle sidenav
</button>
